@inject IViewMaterialsByNameUseCase ViewMaterialsByNameUseCase

<table class="table">
	<thead>
	<tr>
		<th style="width: 8%;"></th>
		<th style="width: 37%;">Назва</th>
		<th style="width: 10%;">Код</th>
		<th style="width: 15%;">Наявна кількість</th>
		<th style="width: 15%;">Ціна за од./м.</th>
		<th style="width: 15%;"></th>
	</tr>
	</thead>
	<tbody>
	@if (_materials is not null && _materials.Count > 0)
	{
		foreach (var material in _materials)
		{
			<MaterialListItemComponent @rendermode="InteractiveServer" Material="material"></MaterialListItemComponent>
		}
	}
	</tbody>
</table>

@code
{
	/// <summary>
	/// Список матеріалів, який буде відображений у таблиці.
	/// </summary>
	private List<Material>? _materials;

	/// <summary>
	/// Фільтр для пошуку матеріалів за назвою, який передається з батьківського компонента.
	/// </summary>
	[Parameter]
	public string? SearchInventoryFilter { get; set; }

	/// <summary>
	/// Метод, який викликається при оновленні параметрів компонента.
	/// Використовується для завантаження списку матеріалів на основі пошукового фільтра.
	/// </summary>
	/// <returns>Завдання, що виконується асинхронно.</returns>
	protected override async Task OnParametersSetAsync()
	{
		// Викликається метод для отримання матеріалів, враховуючи пошуковий фільтр
		_materials = (await ViewMaterialsByNameUseCase.ExecuteAsync(SearchInventoryFilter ?? string.Empty)).ToList();
	}
}