@if (SearchFilter is null)
	SearchFilter = string.Empty;

<EditForm Enhance="true" Model="SearchFilter" FormName="formSearch" OnSubmit="Search">
	<div class="input-group">
		<InputText class="form-control"
		           placeholder="Type something to search"
		           @bind-Value="this.SearchFilter">
		</InputText>
		<button type="submit" class="btn-succes input-group-text">Search</button>
	</div>
</EditForm>

@code {
	/// <summary>
	/// Текст фільтра пошуку, який відображається в полі вводу.
	/// </summary>
	[SupplyParameterFromForm] 
	private string SearchFilter { get; set; } = string.Empty;

	/// <summary>
	/// Подія, яка викликається при натисканні на кнопку пошуку або натисканні Enter в полі вводу.
	/// </summary>
	[Parameter]
	public EventCallback<string> OnSearch { get; set; }

	/// <summary>
	/// Метод, який викликається при відправці форми пошуку.
	/// Він ініціює подію пошуку з переданим значенням фільтра.
	/// </summary>
	private void Search()
	{
		// Викликає подію пошуку, передаючи текст пошуку
		OnSearch.InvokeAsync(SearchFilter);
	}
}