@if (SearchFilter is null)
	SearchFilter = string.Empty;

<EditForm Enhance="true" Model="SearchFilter" FormName="formSearch" OnSubmit="Search">
	<div class="input-group">
		<InputText class="form-control"
		           placeholder="Type something to search"
		           @bind-Value="this.SearchFilter">
		</InputText>
		<button type="submit" class="btn-succes input-group-text">Search</button>
	</div>
</EditForm>

@code {
	
	[SupplyParameterFromForm] 
	private string SearchFilter { get; set; } = string.Empty;

	[Parameter]
	public EventCallback<string> OnSearch { get; set; }

	private void Search()
	{
		OnSearch.InvokeAsync(SearchFilter);
	}
}